[submodule "ios/External/BLE"]
	path = ios/External/BLE
	url = https://github.com/RedBearLab/iOS
[submodule "arduino/lib/BLEShield"]
	path = arduino/lib/BLEShield
	url = git@github.com:RedBearLab/BLEShield.git
[submodule "ios/External/SVProgressHUD"]
	path = ios/External/SVProgressHUD
	url = git@github.com:samvermette/SVProgressHUD.git
